@media screen and (min-width: 1352px) {
    .letdrive{
        position: absolute;
        right:80%;
        top: -500%;
        /* bottom: -120%; */
          }
          .nav__content {

            position: fixed;
            /* top: 10%; */
        
            transform: translate(0%, -50%);
            width: 100%;
            text-align: center;
            font-size: calc(2vw + 10px);
            font-weight: 200;
            cursor: pointer;
            margin-top: -210px;
            /* background-color: red; */
         
          }
          
}
@media screen and (min-width: 1440px) {
    .letdrive{
        position: absolute;
        right:80%;
        top: -80%;
        /* bottom: -120%; */
          }
          .nav__content {

            position: fixed;
            top: 50%;
        
            transform: translate(0%, -50%);
            width: 100%;
            text-align: center;
            font-size: calc(2vw + 10px);
            font-weight: 200;
            cursor: pointer;
            margin-top: -210px;
            /* background-color: red; */
         
          }
          
}
@media screen and (max-width: 989px) {

    .letdrive{
        position: absolute;
        right:75%;
        top: -30%;
        /* bottom: -120%; */
          }
          .nav__content {

            position: fixed;
            top: 80%;
        
            transform: translate(0%, -50%);
            width: 100%;
            text-align: center;
            font-size: calc(2vw + 10px);
            font-weight: 200;
            cursor: pointer;
            margin-top: -210px;
            /* background-color: red; */
         
          }
          
}
@media  screen and (max-width: 768px){
  .text {
 
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
  }
  .selection{
    font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  
  color: #FFFFFF;
  }
  .Brand{
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
  
    color: #FFFFFF;
  }
  .bak{
    background-image: url('../images/baknoise.png');
    color: white;
    /* height: 100vh; */
    text-align: center;
    margin-top: 10%;
    padding-top: 15%;
    padding-bottom:15%;
    margin-bottom: 10%;
  }

  .works{
    font-family: 'Lexend';
font-style: normal;
font-weight: 400;
font-size: 20px;
cursor: pointer;
width: 70px;
padding: 10px;

  }
  .workss{
    font-family: 'Lexend';
font-style: normal;
font-weight: 400;
font-size: 20px;
cursor: pointer;
width: 140%;
padding: 10px;

  }
  .navsss{
    z-index: 1;
    display: none;
    font-family: "Fira Sans", sans-serif;
    width: 200%;
    justify-content: space-around;
    padding-right: 30%;
   
  }








  .padt{
    padding-top: 10px;
    }
    .courses{
   font-family: 'Fira Sans';
font-style: normal;
font-weight: 700;
font-size: 40px;
color: #FFFFFF;
  }
  .rapid{
    font-family: "Lexend";
font-style: normal;
font-weight: 400;
font-size: 16px;
margin-top: 10px;
color: #FFFFFF;
width: 100%;
  }
  .rapid2{
    font-family: "Lexend";
font-style: normal;
font-weight: 400;
font-size: 16px;
width: 80%;
/* margin-top: 40px; */

color: #FFFFFF;
  }
  .scale{
    font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-size:57px;
  text-align: center;
  color: #000000;
  }
    .navsss{
        z-index: 1;
        /* display: none; */
        font-family: "Fira Sans", sans-serif;
        width: 100%;
        font-size: 14px;
        justify-content: space-around;
      }

      .line{

        width: 0px;
        height: 100px;
        border: 5px solid #000000;
        border-radius: 24px;
        text-align: center;
        display: flex;
        justify-content: center;
        margin-left: 50%;
        }

        .started{
          width: 207px;
      height: 56px;
      outline: none;
      border: none;
      color: white;
      background: #815AF0;
      border-radius: 5px;
      font-family: "Lexend";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      text-align: center;
        }
        .started2{
      outline: none;
      border: none;
      color: white;
      width: 223px;
      height: 56px;
      background-color: transparent;
      border: 1px solid #FFFFFF;
      border-radius: 4px;
      font-family: "Lexend";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      text-align: center;
        }

        .awesome{
          font-family: 'Fira Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        color: #FFFFFF;
        }


        .itemHold:hover{
          background: #FFFEFE;
          height: 250px;
          width: 250px;
          background-image: url('../images/noise.png');
          -webkit-transition: all 0.6s 0s linear;
          -moz-transition: all 0.6s 0s linear;
          -o-transition: all 0.6s 0s linear;
          transition: all 0.6s 0s linear;
          /* border-radius: 5px; */
        cursor: pointer;
         box-shadow: 
          rgb(255, 187, 0) 20px 20px,
          rgb(74, 14, 172) 50px 50px , 
          rgba(0, 0, 0, 0) 10px 10px,
          rgba(0, 0, 0, 0) 0 0;
        }




        .itemHold{
          background: #FFFEFE;
          background-image: url('../images/noise.png');
          height: 250px;
          width: 250px;
        cursor: pointer;
        margin-top: 10px;
        margin-bottom: 40px;
        -webkit-transition: all 0.6s 0s linear;
        -moz-transition: all 0.6s 0s linear;
        -o-transition: all 0.6s 0s linear;
        transition: all 0.6s 0s linear;
         box-shadow: 
          rgb(255, 187, 0) 20px 20px,
          /* rgb(74, 14, 172) 50px 50px ,  */
          rgba(0, 0, 0, 0) 10px 10px,
          rgba(0, 0, 0, 0) 0 0;
        }
        .social{
          font-family: 'Lexend';
          font-style: normal;
          margin-top: 10px;
          font-weight: 600;
          font-size: 16px;
          color: #815AF0;
          
        }
        .motiv{
          font-family: 'Lexend';
          font-style: normal;
          font-weight: 300;
          font-size: 11.5px;
        margin-top: 10px;
          color: #000000;
        }
        .svg{
width: 30%;
        }
        .padd{
          padding-top: 60px;
          padding-bottom: 130px;
          padding-left: 25px;
          padding-right: 25px;
        }
        .work{
          font-family: 'Fira Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        display: flex;
        text-align: center;
 margin-left: 4%;
        }
        .our{
          font-family: 'Lexend';
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          color: #FFB82E;
          
        }

        .SeeMore{
          font-family: 'Lexend';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        text-align: center;
        color: #000000;
        }
        .thingog{
          font-family: 'Fira Sans';
          font-style: normal;
          font-weight: 700;
          font-size: 30px;
          color: #FFFFFF;
          
        }
        .touchh{
          font-family: 'Fira Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        color: #FFFFFF;
        }
        .cksos{
          font-family: 'Lexend';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;  
        color: #FFFFFF;
        }
        .fotimput{
          font-family: 'Lexend';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        text-align: center;
        padding-bottom: 30px;
        color: #FFFFFF;
        }
        .form-label{
          font-family: 'Lexend';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: #FFFFFF;
        }

        .cuccess{
          width: 130px;
        height: 50px;
        background: #FFFFFF;
        border-radius: 4px;
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        text-align: center;
        border: none;
        outline: none;
        color: #212123;
        }
        .cuccess:hover{
          width: 130px;
        height: 50px;
        background: #815AF0;
        border-radius: 4px;
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        text-align: center;
        border: none;
        outline: none;
        color: #ffffff;
        }
        .copyright{
          font-family: 'Lexend';
        font-style: normal;
        font-weight: 400;
        font-size:16px;
        color: #FFFFFF;
        
        }
        .sociall{
          font-family: 'Lexend';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          color: #FFFFFF;
        }
        .lie{
          display: flex;
          margin-top: 25px;
        }
}






/* 100% Image Width on Smaller Screens */
/* @media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
} */